#home-info-section
  .container
    .columns
      .column-of-4.cellphone-column-of-12
        h2 What is DRTK
        p A set of open code, easily replicable and well documented tools to help make communication, cooperation and coordination between different government, citizen and international relief efforts during an emergency crisis. 
      .column-of-4.cellphone-column-of-12
        h2 HOW CAN YOU USE IT?
        p If you are a citizen or government official, review the apps and define which ones work best for your context. Every app has a README with extensive documentation so you can easily deploy it. 
      .column-of-4.cellphone-column-of-12
        h2 HOW CAN YOU CONTRIBUTE?
        p This is an open, collaborative effort. Do you know an app that we can include? Let us know! You can also contribute through:
        ul
          li Code
          li Donate
          li Support