.menu: .container
  a(href="/"): img(src="img/logo.png").menu-logo
  .menu-text
    a(href="/about") About us
    a(href="/toolkit") DR Toolkit
    a(href="") Use Cases
    a(href="") Documentation
    a(href="") Contact Us