a(href="/about" class=(path === "/about" ? "active" : "")) About us
a(href="/toolkit" class=(path === "/toolkit" ? "active" : "")) Toolkit
a(href="/projects" class=(path === "/projects" ? "active" : "")) Projects
a(href="") Contact Us