html
  include includes/head
  body
    include includes/navbar
    .container.section
      .half
        h1 Codeando México
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna turpis, vestibulum eget euismod in, iaculis nec neque. Pellentesque sagittis fringilla magna quis sodales. Morbi eros elit, egestas non porta nec, ultrices ut nunc. Vestibulum eleifend finibus magna, id tempus libero mattis volutpat. Quisque ultrices magna tincidunt posuere fermentum. Proin imperdiet vulputate maximus. Donec dignissim, sem id lobortis sodales, justo nunc laoreet elit, in faucibus massa quam quis mi. Quisque aliquam massa eget turpis sollicitudin cursus. Phasellus interdum, risus vel commodo luctus, velit ex sodales eros, in volutpat ante arcu eu eros. Pellentesque lorem risus, maximus sed est in, hendrerit interdum arcu. Sed nisl mi, molestie id urna sagittis, malesuada pulvinar ante. Donec condimentum, sapien non tempus posuere, felis lorem lacinia sapien, non pretium nunc lectus a velit. Quisque vitae quam at odio scelerisque interdum quis ac elit.

      .half
        h1 Code For Romania
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna turpis, vestibulum eget euismod in, iaculis nec neque. Pellentesque sagittis fringilla magna quis sodales. Morbi eros elit, egestas non porta nec, ultrices ut nunc. Vestibulum eleifend finibus magna, id tempus libero mattis volutpat. Quisque ultrices magna tincidunt posuere fermentum. Proin imperdiet vulputate maximus. Donec dignissim, sem id lobortis sodales, justo nunc laoreet elit, in faucibus massa quam quis mi. Quisque aliquam massa eget turpis sollicitudin cursus. Phasellus interdum, risus vel commodo luctus, velit ex sodales eros, in volutpat ante arcu eu eros. Pellentesque lorem risus, maximus sed est in, hendrerit interdum arcu. Sed nisl mi, molestie id urna sagittis, malesuada pulvinar ante. Donec condimentum, sapien non tempus posuere, felis lorem lacinia sapien, non pretium nunc lectus a velit. Quisque vitae quam at odio scelerisque interdum quis ac elit.

