extends layout
block content
  .container.section
    .half
      h1 Codeando México
      p Codeando México is an open community that promotes the use of technology and open data to create new ways for citizens to engage in public life; and to build more open and responsive governments. We address public problems through community-driven projects; connecting technologists, developers, designers and data scientists with citizen problems, and citizens with technology. 

    .half
      h1 Code For Romania
      p We are a community of +550 volunteers who create open source digital tools for solving societal challenges. Our mission is to innovate through open data, transparency and civic tech. At Code for Romania, we believe that technology can enable citizens to more meaningfully engage in the public sphere and have a positive impact on their communities.
    .half
      h1 CODE FOR ALL 
      p Code for All is international network of organizations supporting each other to empower citizens to meaningfully engage in the public sphere and have a positive impact on their communities. We help civic institutions to be more open, democratic, and equitable in the services they provide to the public through digital technology.