doctype
html
  include includes/head
  body
    include includes/navbar
    .home-full-bg
      .container
        .text.half
          h1 DISASTER RELIEF TOOLKIT
          p This is an open repository of tools that can be used by governments, rescue teams and citizen support networks to make coordination, cooperation and communication tasks more efficient when facing a natural disaster. 
          a(href="/toolkit").button Check the kit
          a(target="_blank" href="https://airtable.com/shrvEogfvjkz9HSFW").button Contribute

    .container.section
      .third
        h2 What is DRTK
        p A set of open code, easily replicable and well documented tools to help make communication, cooperation and coordination between different government, citizen and international relief efforts during an emergency crisis. 
      .third
        h2 HOW CAN YOU USE IT?
        p If you are a citizen or government official, review the apps and define which ones work best for your context. Every app has a README with extensive documentation so you can easily deploy it. 
      .third
        h2 HOW CAN YOU CONTRIBUTE?
        p This is an open, collaborative effort. Do you know an app that we can include? Let us know! You can also contribute through:
        ul
          li Code
          li Donate
          li Support
    
    .blue-bg
      .container
        .third: .mega-text Short Term vs Long Term Actions
    
