extends layout
block content
  #home-disaster-section
    .container.vertical-alignment
      .columns.vertical-alignment
        .column
          img(src="img/hero.png")
        .column
          h1 DISASTER RELIEF TOOLKIT
          p This is an open repository of tools that can be used by governments, rescue teams and citizen support networks to make coordination, cooperation and communication tasks more efficient when facing a natural disaster. 
          a(href="/toolkit").button Check the kit
          a(href="/proposal").button Propose a tool

  include includes/info-section
  
  #home-brought-to
    .container
      .columns.vertical-alignment
        .column: .mega-text Brought To You By
        .column
          .card: img(src="img/codeando_mexico.png").single-line-logo
        .column
          .card: img(src="img/code_for_romania.png")
        .column
          .card: img(src="img/code_for_all.png")