//
// Proposal view
// -------------------------------------------


#proposal {
  padding: $section-padding;
}

.proposal-form {
  margin: auto;

  h1 {
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 2rem;
  }
}