//
// Toolkit view
// -------------------------------------------


// Variables
//
$disaster-icons-padding: 2rem 0;
$disaster-icons-background: $navy;
$toolkits-color: $white;
$toolkits-padding: 4rem 0;
$toolkits-background: $navy;
$help-contact-padding: 4rem 0;


#disaster-icons {
  padding: $disaster-icons-padding;
  background-color: $disaster-icons-background;

  img {
    width: 50%;
    margin: auto;
  }
}

#toolkits {
  color: $toolkits-color;
  padding: $toolkits-padding;
  background-color: $toolkits-background;
}

.toolkit {
  section {
    button {
      margin-bottom: .75rem;
    }
  }

  footer {
    display: flex;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

#help-contact {
  padding: $help-contact-padding;

  h1 {
    display: flex;
    flex-direction: column;
    height: 100%;;
    justify-content: center;
    font-size: 3rem;
    line-height: 1.3;
    margin: 0;
  }

  input {
    width: 45%;
  }
}