//
// Typography
// -------------------------------------------


// Variables
//
$titles-font-family: 'Encode Sans Semi Expanded', $secondary-font;


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, {
  font-family: $titles-font-family;
  line-height: 1;
}

h1, .h1 { font-size: 2.25rem }
h2, .h2 { font-size: 1.75rem }
h3, .h3 { font-size: 1.5rem }