@import 'reset';
@import 'node_modules/jeet/scss/index.scss';
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Noto+Sans');
@import 'units';
@import 'layout';

.home-full-bg{
  background-color: $navy;
  color: $white;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .big-padding{
    padding: 5vh 0;
    font-size: 1.1em;
  }

  .button{
    font-size: 1.1em;
    margin-top: $space*2;
    margin-right: $space ;
    background: $red;
    color: $white;
    display: inline-block;
    padding: $space $space*2;
    border-radius: $space/2;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      box-shadow: 0 1px 4px 0 $navy;
    }
  }
}

.menu{
  .container{
    position: relative;
  }
  background: $blue;
  .menu-logo{
      display: inline-block;
      text-align: center;
      width: 150px;
      padding: $space 0;
  }
  .menu-text{
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: right;
    padding: $space*4 0;
    a{
      padding-left: $space*3;

      text-decoration: none;
      font-size: 1.2em;
      &:hover{
        color: $red;
      }
    }
  }
}

.tagsearch{
  display: inline-block;
  background: $yellow;
  padding: $space;
  margin-right: $space/2;
  cursor: pointer;
  margin-bottom: $space;
  &:hover{
    background: $yellow_accent;
  }
}
.card{
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.4);
  padding: $space*2;
  img{
    max-height: 200px;
  }
  .title{
    font-size: 2em;
  }
  .tags{
    margin: 20px 0;
  }
  .tag{
    background: $yellow;
    padding: $space;
    margin-right: $space/2;
  }
  .icons{
    display: inline-flex;
    .icon{
      color: $navy;
      margin-right: $space;
    }
  }
}

.projects{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer{
  background: $blue;
}


@media screen and(max-width: 700px){
  .card, .third, .arrow, .text, .half, .menu-text{
    @include stack();
    margin-bottom: $space*2;
  }
  .big-padding{
    padding: $space 0 !important;
  }
  .menu-text{
    position: relative !important;
    text-align: left !important;
  }
  .home-full-bg .container{
    display: block;
  }
}